<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @section('title')
    @endsection
  </title>
  <script src="https://kit.fontawesome.com/7ced060084.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  @!section('notifications')

 

@!section('content-area')

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/mainApp.js"></script>
</body>
</html>
